IMAGE=ghcr.io/robin0822/test-api:latest
HOST_PORT=13000
POSTGRES_PASSWORD=replace-with-a-random-password
API_TOKEN=replace-with-an-api-token
MODEL_API_BASE=https://maas-api.cn-huabei-1.xf-yun.com/v2
MODEL_API_KEY=replace-with-a-new-key
MODEL_ID=xopkimik26
MODEL_TEMPERATURE=0.3
MODEL_MAX_TOKENS=4096
MODEL_CHUNK_CHARS=30000
MODEL_MOCK=false
